<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller = "NarrowItDownController as vm">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" ng-model="vm.searchTerm" placeholder="search term"
      class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="vm.findMatchedItems()">Narrow It Down For Me!</button>
    </div>
    <h1 class="text-center" ng-show="vm.nothingFound">Nothing found</h1>
    <!-- found-items should be implemented as a component -->
    <found-items ng-show="vm.found.length > 0" found-items="vm.found" on-remove="vm.onRemove(index)"></found-items>
  </div>
</body>
</html>
